

<div class="main_content">
  <h1>About This Site</h1>
  <p>
    TEAM5OAGS is an art gallery website that was developed by a team of eight members for the Spring 2013 software engineering course at the University of Houston. This website has been designed and developed in accordance with the REST and MVC architecture patterns as well as software engineering principles. The team utilized Ruby on Rails and MySQL as the front-end and back-end technologies for the website, respectively.
  </p>
  <p>
    Members of the development team are listed below:
  </p>
  <ul>
    <li>Ryan Lee - Team Leader</li>
    <li>Christopher Cruz - SQA</li>
    <li>Muhammad Naviwala - SQA</li>
    <li>Gabriel Ohlson - DBA</li>
    <li>Joel Loucks - DBA</li>
    <li>Matthew Liang - Team Member</li>
    <li>Christopher Berkowitz - Team Member</li>
  </ul>
</div>